BOT_TOKEN= 
ADMIN_ID= 
LOG_LEVEL= 
PRICE_WEEKLY_STARS= 
PRICE_MONTHLY_STARS= 
PRICE_FOREVER_STARS= 
PRICE_WEEKLY_RUB= 
PRICE_MONTHLY_RUB= 
PRICE_FOREVER_RUB= 
LOGS_CHANNEL_ID= 
PATH_DB= 
lava_shop_id= 
ROLLYPAY_API_KEY= 
rollypay_terminal_id= 
SECRET_KEY= 
HASHIDS_SALT= 